@use 'variables' as v;

//media querys
@mixin phone{  //similar a una funcion

    @media(min-width: v.$phone){
        @content; //para escribir contenido dentro del mq // no sabemos cuantas lineas seran
    }
}
@mixin tablet{
    @media(min-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media(min-width: v.$desktop){
        @content;
    }
}
@mixin desktopXL{
    @media(min-width: v.$desktopXL){
        @content;
    }
}
@mixin grid($columns,$espaciado){
    display: grid;
    grid-template-columns: repeat($columns,1fr); //creando 2 columnas iguales de tamaño
    gap: $espaciado; //separacion entre columnas
}
@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}